h1 {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 35px;
    background-color: rebeccapurple;
    text-align: center;
}
.imgone {
    width: 500px;
    height: auto;
}

.list {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: brown;
    background-color: lightcoral;
}

.text {
    text-align: center;
    font-size: 18px;
    color: blue;
}